.topSection {
  background: url('../../assets/images/hero.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 180px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.searchWrapper {
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
}

.layout {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 80px;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}
