.container {
  background-color: #fff;
  padding: 30px 40px;
}

.header {
  margin-bottom: 30px;
}

.backBtn {
  background: #fff;
  border: 1px solid #292929;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  .arrow {
    transform: rotate(180deg);
    display: inline-block;
  }

  &:hover {
    background-color: #F4F3F6;
  }
}

.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trainId {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 250px;

  .iconCircle {
    width: 60px;
    height: 60px;
    background: #FFD98F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
  }

  .idText {
    display: flex;
    flex-direction: column;
    strong { font-size: 24px; color: #292929; }
    small { font-size: 12px; color: #9299A2; }
  }
}

.timeBlock {
  display: flex;
  flex-direction: column;
  strong { font-size: 24px; color: #292929; }
  span { font-size: 18px; color: #292929; font-weight: 700; }
  small { font-size: 14px; color: #9299A2; }
}

.arrow {
  color: #FFA800;
  font-size: 24px;
}

.duration {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #292929;
  font-size: 16px;
  i { color: #FFA800; font-size: 24px; }
}
