.page {
  background: #F4F3F6;
  min-height: 100vh;
  padding-bottom: 80px;
}

.topBanner {
  background: url('../../assets/images/hero.jpg') center/cover;
  height: 300px;
  position: relative;
}

.topBanner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.layout {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.main {
  flex: 1;
}

.card {
  background: #fff;
  border: 1px solid #C4C4C4;
  margin-bottom: 30px;
}

.cardHeader {
  padding: 20px 40px;
  font-size: 24px;
  border-bottom: 1px solid #E5E5E5;
  font-weight: 500;
}

.trainBody {
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trainLeft {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 280px;
}

.iconCircle {
  width: 70px;
  height: 70px;
  background: #FFD98F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #fff;
}

.trainInfo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.trainInfo .arrow {
  color: #FFA800;
  font-size: 24px;
}

.timeBlock strong {
  font-size: 24px;
}

.timeBlock p {
  font-size: 14px;
  margin: 5px 0;
  line-height: 1.2;
}

.timeBlock small {
  color: #9299A2;
}

.passWrapper {
  display: flex;
  padding: 0;
}

.passList {
  flex: 1;
  border-right: 1px solid #E5E5E5;
}

.passItem {
  display: flex;
  padding: 30px 40px;
  gap: 30px;
  border-bottom: 1px solid #E5E5E5;
}

.passItem:last-child {
  border-bottom: none;
}

.leftCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100px;
}

.userCircle {
  width: 68px;
  height: 68px;
  border: 2px solid #FFA800;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #FFA800;
}

.pType {
  font-size: 14px;
  color: #292929;
}

.rightCol {
  flex: 1;
}

.rightCol strong {
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
  color: #292929;
}

.pDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #9299A2;
  font-size: 14px;
}

.summaryCol {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px 40px;
}

.totalPrice {
  font-size: 20px;
  margin-bottom: 20px;
}

.totalPrice strong {
  font-size: 28px;
}

.body {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.changeBtn {
  border: 1px solid #292929;
  background: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.confirmBtn {
  background: #FFA800;
  color: #fff;
  border: none;
  padding: 15px 80px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
