.header {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 0;
  position: relative;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu {
  display: flex;
  gap: 30px;

  a {
    font-size: 18px;
    font-weight: 300;
    transition: color 0.3s;

    &:hover {
      color: var(--color-orange);
    }
  }
}
