.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
}


.logoRow {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
  width: 100%;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
}


.navRow {
  background-color: #292929;
  width: 100%;
}

.nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;

  li a {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #FFA800;
    }
  }
}
