.about {
  padding: 80px 0;
  background-color: #fff;
}

.contentWrapper {
  border-left: 5px solid #FFA800;
  padding-left: 30px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  color: #292929;

  p { margin-bottom: 20px; }

  p:last-child {
    font-weight: 500;
  }
}
