.section {
  padding: 80px 0;
  background: linear-gradient(to right, rgba(50,50,50,0.5), rgba(50,50,50,0.5)), #FFA800;
  background: url('../../../assets/images/hero.jpg') no-repeat center center;
  background: linear-gradient(90deg, #F0A30A 0%, #F0A30A 100%);
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #fff;
    color: #FFA800;
  }
}

.items {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.iconCircle {
  width: 150px;
  height: 150px;
  background-color: rgba(255,255,255, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: #FFA800;
  font-size: 60px;
}
