.footer {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 50px 0;
  margin-top: auto;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contacts {
  h3 {
    margin-bottom: 20px;
  }

  ul li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.subscribe {
  h3 {
    margin-bottom: 20px;
  }
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;

  input {
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    width: 300px;
  }

  button {
    text-transform: uppercase;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 3px;
    transition: 0.3s;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark);
    }
  }
}

.bottom {
  border-top: 1px solid rgba(255,255,255, 0.2);
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-gray);
}
