.footer {
  background-color: #292929;
  color: #fff;
  padding: 50px 0 20px 0;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contacts, .subscribe {
  width: 45%;
}

.contacts h3, .subscribe h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 500;
}

.contacts ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;

  i {
    color: #FFA800;
    width: 20px;
  }
}

.subscribe {
  .form {
    display: flex;
    margin-bottom: 40px;

    input {
      padding: 15px;
      font-size: 16px;
      border-radius: 3px 0 0 3px;
      border: none;
      width: 300px;
      outline: none;
    }

    button {
      text-transform: uppercase;
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      padding: 15px 30px;
      border-radius: 0 3px 3px 0;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

.socialIcons {
  display: flex;
  gap: 20px;

  i {
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;

    &:hover { color: #FFA800; }
  }
}

.bottom {
  border-top: 1px solid #484848;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 24px;
    font-weight: 700;
  }

  .copyright {
    color: #9299A2;
  }
}
