.bar {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #333;
  overflow: hidden;
  border-radius: 0;
}

.step {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 60px;
  color: #9299A2;
  font-weight: 700;
  font-size: 16px;
  background-color: #333;
  transition: 0.3s;
  cursor: default;

  margin-right: -20px;
  z-index: 1;

  &:nth-child(1) { z-index: 4; padding-left: 40px; }
  &:nth-child(2) { z-index: 3; }
  &:nth-child(3) { z-index: 2; }
  &:nth-child(4) { z-index: 1; margin-right: 0; }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #333;
    z-index: 10;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -32px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fff;
    z-index: 5;
  }
}


.step.active {
  background-color: #FFA800;
  color: #292929;

  &::after {
    border-left-color: #FFA800;
  }

  span {
    border-color: #292929;
    color: #292929;
  }
}

.step span {
  width: 35px;
  height: 35px;
  border: 2px solid #9299A2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-weight: 700;
  flex-shrink: 0;
}
