.sidebar {
  background-color: #3E3C41;
  color: #fff;
  width: 280px;
  flex-shrink: 0;
  padding-bottom: 20px;
}

.section {
  padding: 25px 20px;
  border-bottom: 1px solid #5D5B61;

  &:last-child {
    border-bottom: none;
  }
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
}

.dateInput {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: none;
  padding: 0 10px;
  color: #292929;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #fff;
}

.toggleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .rowLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;

    i {
      color: #E5E5E5;
      font-size: 20px;
      width: 25px;
      text-align: center;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C4C4C4;
  transition: .4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
}


.switch input:checked + .slider {
  background-color: #FFA800;
}

.switch input:checked + .slider:before {
  transform: translateX(18px);
}

.priceRange {
  margin-top: 20px;
  color: #fff;

  .labels {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 5px;
  }
}
