.wrapper {
  flex: 1;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: #9299A2;
  font-size: 18px;
}

.sortSelect {
  border: none;
  background: transparent;
  font-size: 18px;
  color: #292929;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  padding: 50px;
  text-align: center;
  font-size: 20px;
  color: #9299A2;
}

/* ЦЕНТРИРОВАННАЯ ПАГИНАЦИЯ */
.paginationWrapper {
  display: flex;
  justify-content: center; /* Строго по центру */
  margin-top: 60px;
  padding-bottom: 40px;
}

.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
}

.pageBtn {
  width: 45px;
  height: 45px;
  border: 1px solid #C4C4C4;
  background: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #9299A2;
  cursor: pointer;
  transition: 0.3s;

  &.active {
    background-color: #FFA800;
    border-color: #FFA800;
    color: #fff;
    font-weight: 700;
  }

  &:hover:not(.active) {
    border-color: #FFA800;
    color: #FFA800;
  }
}

.arrow {
  @extend .pageBtn;
  border: none;
  font-size: 14px;
}
